.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
    height: 75vh;
    padding: 2rem;
    margin: 2rem;
    gap: 1rem;
    background-color: hsl(150, 100%, 66%);
    border-radius: 1rem;
    font-size: xx-large;
}
button{
    border-radius: 0.5rem;
    background-color: hsl(193, 38%, 86%);
}
button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
